body, html {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 2em);
  background: #ECECEC; /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to left, #5D4157 , #A8CABA); /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to left, #D55A17 , #DC69ED); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Montserrat', sans-serif;
  color: rgb(59, 38, 57);
  text-align: center;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

.square {
  width:      52px;
  height:     52px;
  background: #75A79E;
  position:   absolute;
  top:        156px;
  left:       50%;
  margin-left: -27px;
  margin-top:  -25px;
}


.content {
  margin-top: 2em;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.left {
  order: 1;
  flex: 1;
}

.center{
  order: 2;
  text-align: center;
  flex: 2;
}

.right{
  order: 3;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

#right__top {
  order: 1;
  flex-direction: row;
}

#right__bottom {
  order: 2;
  flex-direction: row;

}

#me {
  display: none;
  margin-top: 3em;
  margin-bottom: 3em;
}

.icons_contact {
  margin-right: 2em;
}

#center__bottom {
  display: none;
}

.center__bottom {
}

.center__top {
  margin-bottom: 3em;
}

.footer {
  margin: auto;
}

.text {
  color: #574E72;
  font-size: 18px;
  font-weight: 400;
  margin-right: 1.3em;
}

a {
  text-decoration: none;
}


h1 {
  color: #44201D;
  font-size: 72px;
  font-weight: 300;
  margin: 0;
}

h2 {
  color: #84496C;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 200;
  margin: 0;
}

h3 {
  color: #84496C;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: 300;
  margin: 0;
}

